﻿@import "reset.css";
@import "fonts/page/lobster/lobster.css";
@import "fonts/page/ptmono/ptmono.css";
@import "jquery.contextMenu.css";
@import "smoothness/jquery-ui-1.8.21.custom.css";
@import "kickstart/kickstart.css";
@import "kickstart/kickstart-slideshow.css";

body{
	color:#999;
	background:#343434 url('img/bg.jpg') fixed;
	font:normal 0.9em/100% "Trebuchet MS", arial, verdana, sans-serif;
	text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

input,
/*select,*/
option {
	height: 30px;
}

input:focus,
select:focus{
	-webkit-box-shadow: 0 0 7px #6DB9FF;
	-moz-box-shadow   : 0 0 7px #6DB9FF;
	box-shadow        : 0 0 7px #6DB9FF;
	border: 1px solid #50B1FE;
	outline: none;
}

#wrap{
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	width: 1220px;
	padding: 0;
	left: 50%;
	margin-left: -610px;
	border-left: 1px #000 solid;
	border-right: 1px #000 solid;	
	box-shadow: 0px 2px 10px rgba(0,0,0,1);
	background: #f9f9f9 url('img/bglogo.png') center center no-repeat;
}

#preloader {
	display: none;
	position: fixed;
	z-index: 30;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(34,34,34,0.7) url('img/preloader.gif') no-repeat center center;
}

#autorization input,
#autorization button{
		font: 1.5em 'Lobster';
		text-align: center;
}

#autorization{
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -200px;
	padding: 30px;
	width: 400px;
	height: 250px;
	text-align: center;
	border: 1px #aaa solid;
	background-color: rgba(224,224,224,0.5);
	box-shadow: 0px 2px 5px rgba(88,88,88,0.5);
	border-radius: 5px;
}

nav#top-nav{
	position: fixed;
	width: 1000px;
	height: 30px;
	z-index: 3;
	top: 0;
	left: 50%;
	margin-left: -511px;
	background: #f9f9f9;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
	padding: 10px;
	font-size: 15px;
}

/* nav#top-nav button.addNew{
	float: right;
	margin-bottom: 10px;
} */


ul.menu{
	position: fixed;
	width: 1220px;
	height: 55px;
	left: 50%;
	margin-left: -610px;
	z-index: 3;
	top: 0;
	padding: 10px;
	font-size: 15px;
}




li.adm{
	float: right;
	cursor: pointer;
}

li.adm ul{
	width: 300px;
}

.tabhead{
	text-align: center;
	font-weight: 800;
	font-variant: small-caps;
	font-size: 15px;
	vertical-align: middle;
}

#tiptip_holder{
	max-width: 500px;
}

section{
	position: relative;
	top: 60px;
	bottom: 0;
	padding: 10px;
	width: 1220px;
	left: 50%; 
	margin-left: -610px;
	z-index: 2;
}

table, .context-menu-list{
	font-family: "Pt_monoregular";
}


table#ProjectList td.action{
	text-align: center;
}

tr.line:nth-of-type(even){
	background-color:rgba(230,230,230,0.5);
}

tr.line{
	min-height: 30px;
	height: 30px;
}

tr.line:hover{
	cursor: pointer;
	background-color:rgba(100,100,200,0.2);
	color: #000;
}

div#hidden{
	position: fixed;
	z-index: 4;
	width: 100px;
	height: 150px;
}

/*  .tab-content{
	position: relative;
	top: 35px;
	padding: 0;
} 

 ul.tabs{
	position: fixed;
	width: 100%;
	left: 50%; 
	margin-left: -511px;
	top: 90px;
	z-index: 3;
	background-color: #f9f9f9;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
} */ 

ul.tabs li, 
ul.tabs li a{
	border-radius: 5px 5px 0 0;
	
}

ul.tabs li.current{
	font-weight: bold;
	border-bottom-style: none;
}
.tools span:hover{
	color: #f00;
}
.docimg,
.editor{
	display: none;
}
.editor{
	width: 80px;
}

div#del:hover {
	background: #ccc;
	cursor: pointer;
}
div#del:hover .del_close {
	opacity: 0.5;
	display: block;
}

div#del .del_close{
	float: right;
	display: none;
}

div#del{
	line-height: 1.2; 
	display:block;
	width: 90%;
	padding-left:5px;
}
